.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.claude
/bootstrap/ssr
/node_modules
/public/hot
/public/storage
/node_modules_cop
/storage/*.key
/storage/framework/views/*
/storage/logs/*.log
/storage/pail
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/alidad.zip
/public/node_modules
ngrok.yml
